// --------------------
// COLORS VARIABLES
// --------------------
// ### Primary
// Dark cyan: hsl(185, 75%, 39%) --> shadows
// Very dark desaturated blue: hsl(229, 23%, 23%) --> text primary
// Dark grayish blue: hsl(227, 10%, 46%) --> text secondary

// ### Neutral
// Dark gray: hsl(0, 0%, 59%) --> footer line
$white: #fff;

$darkCyan: hsl(185, 75%, 39%);
$darkGray: hsl(0, 0%, 59%);

$textPrimary: hsl(229, 23%, 23%);
$textSecondary: hsl(227, 10%, 56%);
