// --------------------
// ATTRIBUTIONS
// --------------------
.attribution {
    position: absolute;
    width: 100%;
    height: 30px;
    bottom: 0;

    font-size: 11px;
    text-align: center;
    color: #000;
    
    // a { color: hsl(228, 45%, 44%); }
    a { color: lighten($color: blue, $amount: 20); }
}