// --------------------
// CARD
// --------------------
$cardWidth: 350px;
$cardWidthMobile: 326px;

body, html { height: 100%; }
main {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    z-index: 1;
    background-color: $white;
    width: $cardWidth;
    max-width: $cardWidth;
    @include borderRadius(14px);
    overflow: hidden;
    @include boxShadow(0px, 26px, 32px, 6px, $textPrimary, 0.25);

    @include breakpoint( xs ) {
        width: $cardWidthMobile;
        max-width: $cardWidthMobile;
    }

    header.card-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 193px; // 188px + 5px from profile image border

        .header-banner {
            height: 140px;
        }

        .header-profile {
            height: 96px + 10px;
            margin-top: -(96px + 10px) /2; // 96px + 5px * 2 of border
            
            img.profile-photo {
                width: 100%;
                height: 100%;
                border: 5px solid $white;
                @include borderRadius(50%);
            }
        }

    }

    .card-content {
        padding: 24px 0;
        text-align: center;

        h1 { margin-bottom: 8px; }
    }

    footer.card-footer {
        padding: 24px 0;
        border-top: 1px solid rgba($color: $darkGray, $alpha: 0.25);

        ul {
            display: flex;
            justify-content: space-around;
            text-align: center;
            li{
                p:first-of-type { margin-bottom: 4px; }
                p:last-of-type { letter-spacing: 1px; }
            }
        }
    }
}